<div class="container">
  <h1>Sign In</h1>

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/sessions">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Welcome to the TerrorDome</h2>
      <p>Prepare to be Authenticated. You will only feel a small pinch.</p>
      <img class="fit" src="/img/flood.jpg">
    </div>
    <div class="col-lg-6 sign-dialog">
      <div class="panel panel-primary">
        <div class="panel-heading">Sign in</div>
        <% if (@show_msg) then %>
          <div class="alert alert-danger">
            Dude... learn how to type your credentials.
          </div>
        <% end %>
        <form action="/sign_in" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control"><br>
          <label for="username">Password</label>
          <input type="password" name="password" class="form-control"><br>
          <input class="btn" type="submit" value="Sign in">
        </form>
        <br>
        <a href="/sign_up">Don't have an account?</a>
      </div>
    </div>
  </div>
</div> -->